<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <context-param>
        <param-name>safePaths</param-name>
        <param-value>/auth/register,/auth/login,/auth/refresh</param-value>
    </context-param>

    <listener>
        <listener-class>com.ecommerce.app.listeners.RedisPoolListener</listener-class>
    </listener>

    <filter>
        <filter-name>RateLimiter</filter-name>
        <filter-class>org.apache.catalina.filters.RateLimitFilter</filter-class>
        <init-param>
            <param-name>bucketRequests</param-name>
            <param-value>200</param-value>
        </init-param>
        <init-param>
            <param-name>bucketDuration</param-name>
            <param-value>60</param-value>
        </init-param>
        <init-param>
            <param-name>rateLimitClassName</param-name>
            <param-value>org.apache.catalina.util.FastRateLimiter</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>PathParamResolver</filter-name>
        <filter-class>com.ecommerce.app.filters.ParamResolverFilter</filter-class>
        <init-param>
            <param-name>hello</param-name>
            <param-value>world</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>ResponseFilter</filter-name>
        <filter-class>com.ecommerce.app.filters.ResponseFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.ecommerce.app.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.ecommerce.app.filters.AuthorizationFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>ResponseFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RateLimiter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PathParamResolver</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.auth.RegisterController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/api/v1/auth/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.user.UserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/api/v1/users/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.auth.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/api/v1/auth/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RefreshController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.auth.RefreshController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RefreshController</servlet-name>
        <url-pattern>/api/v1/auth/refresh</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.user.UsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersController</servlet-name>
        <url-pattern>/api/v1/users</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RequestsController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.requests.RequestsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RequestsController</servlet-name>
        <url-pattern>/api/v1/requests</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RequestController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.requests.RequestController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RequestController</servlet-name>
        <url-pattern>/api/v1/requests/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SellersController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.sellers.SellersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SellersController</servlet-name>
        <url-pattern>/api/v1/sellers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SellerController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.sellers.SellerController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SellerController</servlet-name>
        <url-pattern>/api/v1/sellers/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BrandController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.brands.BrandController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/api/v1/brands/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>BrandsController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.brands.BrandsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BrandsController</servlet-name>
        <url-pattern>/api/v1/brands</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CategoriesController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.categories.CategoriesController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CategoriesController</servlet-name>
        <url-pattern>/api/v1/categories</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.categories.CategoryController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/api/v1/categories/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductsController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.products.ProductsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductsController</servlet-name>
        <url-pattern>/api/v1/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.products.ProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/api/v1/products/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.cart.CartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/api/v1/cart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/api/v1/cart/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.orders.CheckOutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/api/v1/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddressesController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.address.AddressesController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddressesController</servlet-name>
        <url-pattern>/api/v1/addresses</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddressController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.address.AddressController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddressController</servlet-name>
        <url-pattern>/api/v1/addresses/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrdersController</servlet-name>
        <servlet-class>com.ecommerce.app.controllers.orders.OrdersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OrdersController</servlet-name>
        <url-pattern>/api/v1/orders</url-pattern>
    </servlet-mapping>


</web-app>